#weew
{ color: rgb(0,153,0);}
#tyt
{ color:rgb(240,234,39) ; }
  #tyty
  {color: rgb(222,11,11);}
#ere
{ color: rgb(255,0,127);}
#fight
{ color: rgb(255,102,178);}
#home
{color: rgb(226,0,0);}
#wee
{ color: rgb(0,153,0);}
#drive
{color: rgb(0,102,102)}
  
